* { box-sizing: border-box; }

body {
    margin: 0;
}

html, body { margin: 0; height: 100%; }

.top {
  border: thin solid black;
  width: 75%;
  height: 25%;
  float:right;
  font-size:20px;
  background-color:#3483ed;
  color:black;
}
.left {
  border: thin solid black;
  width: 25%;
  height: 100%;
  background-color:#c2d6ef;
  color:black;
  font-size:20px;
  float:left;
}
.right {
  border: thin solid black;
  width: 25%;
  height: 75%;
  background-color:#9ff7f5;
  color:black;
  font-size:20px;
  float:right;
}
.content-right {
  border: thin solid black;
  width: 25%;
  height:50%;
  float:right;
  font-size:20px;
  background-color:#3e91c3;
  color:black;
}
.content-left {
  border: thin solid black;
  width: 25%;
  height:50%;
  float:left;
  font-size:20px;
  background-color:#80a1ce;
  color:black;
}
.down {
border: thin solid black;
width: 50%;
height:25%;
float:right;
font-size:20px;
background-color:#3e77c3;
color:black;
}

